@model RecodeTrip.Models.Destino

@{
    ViewData["Title"] = "Deletar";
}
<div class="body-destino">
<h1 class="titulo">Deletar</h1>

<h3 class="badge badge-danger">Quer mesmo deletar isto?</h3>
<div class="detalhes">
    <h4>Destino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-action="Index">Voltar</a>
    </form>
</div>
</div>