@model IEnumerable<RecodeTrip.Models.Destino>

@{
    ViewData["Title"] = "Destinos";
     ViewBag.texto = "Adicionar Destino";
    ViewData["btn"] =  "Destinos";
}

<div class="body-destino">
     
    <div class="row">
       
    @foreach (var item in Model) {
        <div class="col-sm-12 col-md-4" style="padding: 1%;">
           <div class="card">
              <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.LinkImg) alt=@Html.DisplayFor(modelItem => item.NomeDestino)>
              <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.NomeDestino)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.DisplayFor(modelItem => item.Endereco)</li>
              </ul>
              <div class="card-btn">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Detalhes</a> 
                <a class="btn btn-warning" asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
              </div>
            </div>
        </div>
        
    }
    
    </div>

</div>